.title {
  margin-bottom: 3rem;
  font-weight: bold;
}
.resetWrapper {
  padding-top: 5rem;
}
.resetForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
  box-shadow: 5px 5px #d6d6d6;
  border: 2px solid #e1c5ff;
}
.ipField {
  width: 70%;
}
